<p *ngIf="myInfo == undefined">Failed fetching user info</p>
<div *ngIf="myInfo != undefined">
    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="flex-column">
                <div class="feed">
                    <div class="bg-dark border p-2">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe width="480" height="270" src="{{myInfo.video}}" frameborder="0" allowfullscreen></iframe>
                        </div>
                        <div>
                            <a href="{{myInfo.video}}" class = "text-white">{{myInfo.video}}</a>
                        </div>
                        <div class="d-flex flex-row just align-items-center">
                            <div class="d-flex flex-row align-items-center feed-text px-2 py-1">
                                <img class="rounded-circle" src="{{myInfo.avatar}} " width="45">
                                <div class="d-flex flex-column flex-wrap">
                                    <span class="font-weight-bold text-white">{{myInfo.user}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




